{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}

 <style>
       .articles{
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        padding: 16px 20px;
        margin-bottom: 60px;

    
    }
    .articleimg {
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        margin:10px;
        
      
    }
    .titre{
            color: tomato;
        font-family: 'Times New Roman', Times, serif;
        text-align:center;
    font-style:oblique;
    font-weight:bold;
}

.prix h5{
             color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:right;
    font-style:oblique;
    font-weight:bold;
    margin-right:25px;
}
.ville{
    width:100px;
    height:30px;
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:center;
    font-style:oblique;
    font-weight:bold; 
    padding-top:9px;
}



body{
     background-color:rgb(255, 239, 239);
    font-family: 'Times New Roman', Times, serif;
}

.blog-post{
    display:flex;
    flex-direction:row;
    margin:10rem;
    justify-content:center;
    align-items:center;
    background-color:white;

            border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);

}


.blog-post-img{
    flex:1;
    padding:2rem 2rem 2rem 0rem;
}

.blog-post-img>img{
    width: 100%;
    height:100%;
    border-radius:0.3rem;
    object-fit:cover;
    transform:translateX(-50px);
    box-shadow:0px 0px 3px 3px rgba(0,0,0,.5);
}

.blog-post-info{
    flex:2;
    padding:2rem;
}

.blog-post-title h2{
    color:#673AB7;
    text-transform: uppercase;
}

.blog-post-read-more a{
    cursor:pointer;
    font-style:normal;
    border-radius:0.3rem;
    padding:0.5rem;
    background-color:#fff;
    border:1px solid #f35e72;
    color: #f35e72 !important;
    box-shadow:0 0.05em 0.1em rgba(0,0,0,0.25);
}

.blog-post-read-more a:hover{
    transition:05s;
    background-color:#f35e72;
    border:1px solid #f35e72;
    color:#fff !important;
    
    }
    </style>


           
{% for house in houses %}
{% if app.user == house.user %}
 <div class="blog-post">

    <div class="blog-post-img">
        <img src="assets/img/ar2.jpg" alt="house">
    </div>

    <div class="blog-post-info">

        <div class="blog-post-info">
            <h2> {{house.title}} </h2>
        </div>

                 <h2 class="badge badge-danger ville">
                   {{house.location.ville}}
                 </h2>

        <div class="blog-post-date">
            <h6> <span> {{house.room}} </span> Rooms </h6>
            <h6> For <span> {{house.person}} </span> person  </h6>
        </div>

        <div class="blog-post-desc">
            <p> {{house.description}}</p>
        </div>

                 <div class="prix">
                    <h5>{{house.nightPrice}}  TND </h5>
                </div>

        <div class="blog-post-read-more">
            <a href="{{path('propertieShow',{'id':house.id}) }}"> View House </a>
        </div>


    </div>

</div>
{% endif %}
{% endfor %}
    

       
{% endblock %}